/**
 * NAVBAR COMPONENT VARIABLES
 *
 * @format
 */

@import 'import.css';

$navbar-optimize: false !default;
$navbar-zindex: 5 !default;
$navbar-background-color: $app-background-color !default;
$navbar-animate-speed-in: $animate-speed-in !default;
$navbar-animate-speed-out: $animate-speed-out !default;
$navbar-shadow: 0 2px 6px color-mod($shadow-color alpha(0.39)) !default;
$navbar-icon-size: 2em !default;
$navbar-icon-padding: 0.4em !default;
$navbar-icon-color: $link-color !default;
$navbar-logo-size-x: 6em !default;
$navbar-logo-size-y: 1.4em !default;
$navbar-link-color: $link-color !default;
$navbar-border-color: $divider-black !default;
$navbar-links-padding: $nav-link-padding-y 0 !default;
$navbar-link-padding: $nav-link-padding-y $nav-link-padding-x !default;
$navbar-body-offset: 2.88em !default; /* offset to not cover page content */
$navbar-hash-link-fix: true !default; /* see TODO: Add link to docs */
/* offset in-page links; navbar + shadow */
$navbar-hash-link-offset: calc($navbar-body-offset + 1em) !default;
