@import "import.css";

:root {
  --navbar-optimize: true;
  --navbar-zindex: 5;
  --navbar-background-color: var(--app-background-color);
  --navbar-shadow-fade-speed: 300ms;
  --navbar-shadow: 0 2px 6px color-mod(var(--shadow-color) alpha(0.39));
  --navbar-icon-size: 2em;
  --navbar-icon-padding: 0.4em;
  --navbar-icon-color: var(--link-color);
  --navbar-logo-size-x: 6em;
  --navbar-logo-size-y: 1.4em;
  --navbar-link-color: var(--link-color);
  --navbar-border-color: var(--divider-black);
  --navbar-links-padding: var(--nav-link-padding-y) 0;
  --navbar-link-padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  --navbar-body-offset: 2.88em; /* offset body so contents are not covered */
  --navbar-hash-link-fix: true; /* see TODO: Add link to docs */
  --navbar-hash-link-offset: calc(var(--navbar-body-offset) + 1em); /* offset in-page links; navbar + shadow */
}
