{#if _item.children !== undefined}
  <!-- submenu -->
  <!-- <span class="navbar-link navbar-nested"> -->
  <span class="navbar-nested">
    <span class="dn l-dib">{_item.text}</span>

    <div class="navbar-submenu {_item.class || ''}">
      {#each _item.children as _subitem}
        <svelte:self _item="{_subitem}" current="{current}"/>
      {/each}
    </div>
  </span>
{:else}
  <!-- menu item -->
  <a
    href="{_item.url}"
    class="navbar-link {current === _item.url ? 'navbar-link-active' : ''} {_item.class || ''}"
  >
    {_item.text}
  </a>
{/if}

<script>
  export default {
    tag: 'minna-navbar-item',
  };
</script>

<style type="text/postcss">
  @import "./_variables.css";
  @import "import.css";

  .navbar-nested {
    position: relative;

    @media (--screen-large) {
      padding: var(--navbar-link-padding);
      margin: 0;
      color: var(--navbar-link-color);
    }
  }

  .navbar-submenu {
    display: flex;
    flex-direction: column;

    @media (--screen-large) {
      position: absolute;
      top: 100%;
      z-index: var(--navbar-zindex);
      white-space: nowrap;
      pointer-events: none;
      background-color: var(--navbar-background-color);
      box-shadow: var(--navbar-shadow);
      opacity: 0;
      transition: all 150ms ease-out;
      transform: scale(0.8);
      transform-origin: 0 0;
      will-change: opacity, transform;

      /* open submenu from the right */
      :global(.navbar-left)& {
        right: 0;
        transform-origin: right 0;
      }

      .navbar-nested:hover &,
      .navbar-nested:focus & {
        pointer-events: unset;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
</style>
