/*
  ALERTS
*/

.alert {
  padding: var(--alert-padding);
  margin-top: var(--alert-margin-y);
  margin-bottom: var(--alert-margin-y);

  > a {
    text-decoration: underline;
  }
}

.alert-tip {
  color: var(--alert-tip-font-colour);
  background-color: var(--alert-tip-bg-colour);
  border-left: var(--alert-border-size) solid var(--alert-tip-border-colour);
}

.alert-info {
  color: var(--alert-info-font-colour);
  background-color: var(--alert-info-bg-colour);
  border-left: var(--alert-border-size) solid var(--alert-info-border-colour);
}

.alert-warn {
  color: var(--alert-warning-font-colour);
  background-color: var(--alert-warning-bg-colour);
  border-left: var(--alert-border-size) solid var(--alert-warning-border-colour);
}

.alert-error {
  color: var(--alert-error-font-colour);
  background-color: var(--alert-error-bg-colour);
  border-left: var(--alert-border-size) solid var(--alert-error-border-colour);
}

/* Close button */

.btn-close {
  margin: -1rem;
  color: inherit;

  &:hover,
  &:focus {
    background-color: unset;
  }
}
