/**
 * ALERTS
 *
 * @format
 */

.alert {
  padding: $alert-padding;
  margin-top: $alert-margin-y;
  margin-bottom: $alert-margin-y;
  background-color: $alert-background-color;
  border-left: $alert-border-size solid;

  > a {
    text-decoration: underline;
  }
}

.alert-tip {
  color: $alert-tip-text-color;
  border-color: $alert-tip-border-color;
}

.alert-info {
  color: $alert-info-text-color;
  border-color: $alert-info-border-color;
}

.alert-warn {
  color: $alert-warning-text-color;
  border-color: $alert-warning-border-color;
}

.alert-error {
  color: $alert-error-text-color;
  border-color: $alert-error-border-color;
}

/* Close button */

.button-close {
  margin: calc(-1 * $alert-padding);
  color: inherit;

  &:hover,
  &:focus {
    background-color: unset;
  }
}
