/*
  BUTTONS
*/

.button {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  filter: var(--button-shadow);
  border: 0;
  border-radius: var(--button-radius);

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--button-hover-background-color);
  }

  &:active {
    background-color: var(--button-active-background-color);
    filter: none;
  }

  a& {
    /* fix alignment when applied to links */
    margin: initial;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--button-disabled-text-color);
    background-color: var(--button-background-color);
    filter: none;
    border: 1px solid var(--button-disabled-border-color);
  }
}

/* Remove browser default `<button>` styles */

.button-clear {
  background: transparent;
  filter: none;
  border: 0;

  &:hover,
  &:focus {
    /* prevent change when applied to `<a>` */
    color: unset;
  }
}

/* Make `<a>` tag whitespace same as `.button` */

.button-link {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  line-height: 1;
}

/* Smaller button */

.button-mini {
  padding: var(--button-mini-padding);
}
