/*
  BUTTONS
*/

/*
 * Because plain .button is the most common, it has no gradient background for
 * performance reasons. Use button-* styles sparingly when emphasis is required.
 */
.button {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  filter: var(--button-shadow);
  border: 0;
  border-radius: var(--button-radius);

  &:hover,
  &:focus {
    color: var(--button-text-color); /* prevents repaint on hover */
    text-decoration: none;
    transform: scale(1.05);
  }

  &:active {
    background-color: var(--button-active-background-color);
    filter: none;
    transform: scale(1);
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--button-disabled-text-color);
    filter: none;
    border: 1px solid var(--button-disabled-border-color);
    transform: unset;
  }
}

/* Remove browser default <button> styles */

.button-clear {
  background: transparent;
  filter: none;
  border: 0;

  &:hover,
  &:focus {
    /* prevent change when applied to links */
    color: unset;
    transform: unset;
  }
}

/* Make <a> whitespace same as .button */

.button-link {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  line-height: 1;
}

/* Smaller button */

.button-mini {
  padding: calc(var(--button-padding-y) / 2) calc(var(--button-padding-x) / 2);
}
