/*
  BUTTONS
*/

.button {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 0;
  border-radius: var(--button-radius);
  box-shadow: var(--button-shadow);

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--button-hover-background-color);
  }

  &:active {
    background-color: var(--button-active-background-color);
    box-shadow: none;
  }

  a& {
    /* fix alignment when applied to links */
    margin: initial;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--button-disabled-text-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-disabled-border-color);
    box-shadow: none;
  }
}

/* Remove browser default `<button>` styles */

.button-clear {
  background: transparent;
  border: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    /* prevent change when applied to links */
    color: unset;
  }
}

/* Fix link whitespace when next to `.button` */

.button-link {
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  margin: 0;
  line-height: 1;
}

/* Smaller button */

.button-mini {
  padding: var(--button-mini-padding);
}
