/*
  CARDS
*/

.card {
  word-wrap: break-word;
  background-color: $card-background-color;
  border-radius: $radius-large;
  box-shadow: $card-shadow;
}

.card-hover {
  z-index: $card-hover-zindex;
  padding: 0;
  margin: 0;
  color: $card-hover-text-color;
  box-shadow: $card-hover-shadow;
  transition: box-shadow $card-hover-animate-speed ease-out;

  /**
   * Don't include a hover state on small screens as they typically don't have
   * mouse input and/or are low powered so animations jank the UI.
   */
  @media $(ns) {
    &:hover {
      color: $card-hover-text-color;
      text-decoration: unset;
      box-shadow: $card-hover-hover-shadow;
    }
  }
}

.card-has-button {
  display: flex;
  flex-direction: column;
}

.card-img {
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;
}

.card-body {
  display: inline-block; /* prevents margin collapsing */
  margin: $card-body-margin;
}

.card-button {
  padding: $button-padding-y $button-padding-x;
  margin: auto 0 0;
  color: $card-button-text-color;
  text-align: center;
  border-top: $card-button-border;
  border-bottom-right-radius: $radius-large;
  border-bottom-left-radius: $radius-large;
}
