/*
  CARDS
*/

.card {
  word-wrap: break-word;
  background-color: var(--card-background-color);
  filter: var(--card-shadow);
  border-radius: var(--radius-large);
}

.card-hover {
  z-index: var(--card-hover-zindex);
  padding: 0;
  margin: 0;
  color: var(--card-hover-text-color);
  filter: var(--card-hover-shadow);
  transition:
    transform var(--card-hover-animate-speed-1),
    filter var(--card-hover-animate-speed-2);

  @if var(--card-hover-optimize) {
    will-change: transform, filter;
  }

  &:hover {
    color: var(--card-hover-text-color);
    text-decoration: unset;
    filter: var(--card-hover-hover-shadow);
    transform: translateY(var(--card-hover-animate-distance));
  }
}

.card-has-button {
  display: flex;
  flex-direction: column;
}

.card-img {
  border-top-left-radius: var(--radius-large);
  border-top-right-radius: var(--radius-large);
}

.card-body {
  display: inline-block; /* prevents margin collapsing */
  margin: var(--card-body-margin);
}

.card-button {
  padding: var(--button-padding-y) var(--button-padding-x);
  margin-top: auto;
  color: var(--card-button-text-color);
  text-align: center;
  border-top: var(--card-button-border);
  border-bottom-right-radius: var(--radius-large);
  border-bottom-left-radius: var(--radius-large);
}
