/**
 * COLOURS
 */

/* Foreground colours */

.light1 { color: $light1; }
.light2 { color: $light2; }
.light3 { color: $light3; }
.light4 { color: $light4; }
.light5 { color: $light5; }
.dark1 { color: $dark1; }
.dark2 { color: $dark2; }
.dark3 { color: $dark3; }
.dark4 { color: $dark4; }
.dark5 { color: $dark5; }
.blue1 { color: $blue1; }
.blue2 { color: $blue2; }
.blue3 { color: $blue3; }
.blue4 { color: $blue4; }
.blue5 { color: $blue5; }
.green1 { color: $green1; }
.green2 { color: $green2; }
.green3 { color: $green3; }
.green4 { color: $green4; }
.green5 { color: $green5; }
.yellow1 { color: $yellow1; }
.yellow2 { color: $yellow2; }
.yellow3 { color: $yellow3; }
.yellow4 { color: $yellow4; }
.yellow5 { color: $yellow5; }
.orange1 { color: $orange1; }
.orange2 { color: $orange2; }
.orange3 { color: $orange3; }
.orange4 { color: $orange4; }
.orange5 { color: $orange5; }
.red1 { color: $red1; }
.red2 { color: $red2; }
.red3 { color: $red3; }
.red4 { color: $red4; }
.red5 { color: $red5; }
.purple1 { color: $purple1; }
.purple2 { color: $purple2; }
.purple3 { color: $purple3; }
.purple4 { color: $purple4; }
.purple5 { color: $purple5; }
.brown1 { color: $brown1; }
.brown2 { color: $brown2; }
.brown3 { color: $brown3; }
.brown4 { color: $brown4; }
.brown5 { color: $brown5; }

/* Background colours */

.bg-light1 { background-color: $light1; }
.bg-light2 { background-color: $light2; }
.bg-light3 { background-color: $light3; }
.bg-light4 { background-color: $light4; }
.bg-light5 { background-color: $light5; }
.bg-dark1 { background-color: $dark1; }
.bg-dark2 { background-color: $dark2; }
.bg-dark3 { background-color: $dark3; }
.bg-dark4 { background-color: $dark4; }
.bg-dark5 { background-color: $dark5; }
.bg-blue1 { background-color: $blue1; }
.bg-blue2 { background-color: $blue2; }
.bg-blue3 { background-color: $blue3; }
.bg-blue4 { background-color: $blue4; }
.bg-blue5 { background-color: $blue5; }
.bg-green1 { background-color: $green1; }
.bg-green2 { background-color: $green2; }
.bg-green3 { background-color: $green3; }
.bg-green4 { background-color: $green4; }
.bg-green5 { background-color: $green5; }
.bg-yellow1 { background-color: $yellow1; }
.bg-yellow2 { background-color: $yellow2; }
.bg-yellow3 { background-color: $yellow3; }
.bg-yellow4 { background-color: $yellow4; }
.bg-yellow5 { background-color: $yellow5; }
.bg-orange1 { background-color: $orange1; }
.bg-orange2 { background-color: $orange2; }
.bg-orange3 { background-color: $orange3; }
.bg-orange4 { background-color: $orange4; }
.bg-orange5 { background-color: $orange5; }
.bg-red1 { background-color: $red1; }
.bg-red2 { background-color: $red2; }
.bg-red3 { background-color: $red3; }
.bg-red4 { background-color: $red4; }
.bg-red5 { background-color: $red5; }
.bg-purple1 { background-color: $purple1; }
.bg-purple2 { background-color: $purple2; }
.bg-purple3 { background-color: $purple3; }
.bg-purple4 { background-color: $purple4; }
.bg-purple5 { background-color: $purple5; }
.bg-brown1 { background-color: $brown1; }
.bg-brown2 { background-color: $brown2; }
.bg-brown3 { background-color: $brown3; }
.bg-brown4 { background-color: $brown4; }
.bg-brown5 { background-color: $brown5; }

/* Zebra stripes (alternating coloured backgrounds) */

.bg-zebra:nth-child(even) {
  background-color: $light2;
}

/* Transparency */

.alpha100 { opacity: 1; }
.alpha85 { opacity: 0.85; }
.alpha75 { opacity: 0.75; }
.alpha50 { opacity: 0.5; }
.alpha25 { opacity: 0.25; }
.alpha15 { opacity: 0.15; }
.alpha0 { opacity: 0; }

/* Utility colours */

.plain { color: $text-color; }
.muted { color: $text-color-muted; }
.bg-muted { background-color: $text-color-muted; }
.inherit { color: inherit; }
.inherit-i { color: inherit !important; } /* stylelint-disable-line declaration-no-important */
