/*
  COLOURS
*/

/* Foreground colours */

.white { color: var(--white); }
.black { color: var(--black); }
.red { color: var(--red-500); }
.pink { color: var(--pink-500); }
.purple { color: var(--purple-500); }
.deep-purple { color: var(--deep-purple-500); }
.indigo { color: var(--indigo-500); }
.blue { color: var(--blue-500); }
.light-blue { color: var(--light-blue-500); }
.cyan { color: var(--cyan-500); }
.teal { color: var(--teal-500); }
.green { color: var(--green-500); }
.light-green { color: var(--light-green-500); }
.lime { color: var(--lime-500); }
.yellow { color: var(--yellow-500); }
.amber { color: var(--amber-500); }
.orange { color: var(--orange-500); }
.deep-orange { color: var(--deep-orange-500); }
.brown { color: var(--brown-500); }
.grey { color: var(--grey-500); }
.blue-grey { color: var(--blue-grey-500); }

/* Theme foreground colours */

.primary { color: var(--primary); }
.secondary { color: var(--secondary); }
/* .dark { color: var(--dark); } */ /* same as .plain */

/* Background colours */

/* stylelint-disable declaration-block-single-line-max-declarations */
.bg-white { color: var(--body-font-colour); background-color: var(--white); }
.bg-black { color: var(--white); background-color: var(--black); }
.bg-red { color: var(--white); background-color: var(--red-500); }
.bg-pink { color: var(--white); background-color: var(--pink-500); }
.bg-purple { color: var(--white); background-color: var(--purple-500); }
.bg-deep-purple { color: var(--white); background-color: var(--deep-purple-500); }
.bg-indigo { color: var(--white); background-color: var(--indigo-500); }
.bg-blue { color: var(--white); background-color: var(--blue-500); }
.bg-light-blue { color: var(--white); background-color: var(--light-blue-500); }
.bg-cyan { color: var(--white); background-color: var(--cyan-500); }
.bg-teal { color: var(--white); background-color: var(--teal-500); }
.bg-green { color: var(--white); background-color: var(--green-500); }
.bg-light-green { color: var(--white); background-color: var(--light-green-500); }
.bg-lime { color: var(--white); background-color: var(--lime-500); }
.bg-yellow { color: var(--white); background-color: var(--yellow-500); }
.bg-amber { color: var(--white); background-color: var(--amber-500); }
.bg-orange { color: var(--white); background-color: var(--orange-500); }
.bg-deep-orange { color: var(--white); background-color: var(--deep-orange-500); }
.bg-brown { color: var(--white); background-color: var(--brown-500); }
.bg-grey { color: var(--white); background-color: var(--grey-500); }
.bg-blue-grey { color: var(--white); background-color: var(--blue-grey-500); }
/* stylelint-enable declaration-block-single-line-max-declarations */

/* Zebra stripes; alternating coloured backgrounds */

.bg-alt:nth-child(even) {
  background-color: var(--alt-bg-colour);
}

/* Hover triggered background colour */

.bg-hover:hover {
  background-color: var(--blue-grey-50);
}

/* Transparency */

.alpha100 { opacity: 1; }
.alpha85 { opacity: 0.85; }
.alpha75 { opacity: 0.75; }
.alpha50 { opacity: 0.5; }
.alpha25 { opacity: 0.25; }
.alpha15 { opacity: 0.15; }
.alpha0 { opacity: 0; }

/* Utility foreground colours */

.plain { color: var(--body-font-colour); }
.subtle { color: var(--subtle); }
.inherit { color: inherit; }
.inherit-i { color: inherit !important; } /* stylelint-disable-line declaration-no-important */
