/*
  COLOURS
*/

/* Foreground colours */

.black { color: $black; }
.dark-gray1 { color: $dark-gray1; }
.dark-gray2 { color: $dark-gray2; }
.dark-gray3 { color: $dark-gray3; }
.dark-gray4 { color: $dark-gray4; }
.dark-gray5 { color: $dark-gray5; }
.gray1 { color: $gray1; }
.gray2 { color: $gray2; }
.gray3 { color: $gray3; }
.gray4 { color: $gray4; }
.gray5 { color: $gray5; }
.light-gray1 { color: $light-gray1; }
.light-gray2 { color: $light-gray2; }
.light-gray3 { color: $light-gray3; }
.light-gray4 { color: $light-gray4; }
.light-gray5 { color: $light-gray5; }
.white { color: $white; }
.blue1 { color: $blue1; }
.blue2 { color: $blue2; }
.blue3 { color: $blue3; }
.blue4 { color: $blue4; }
.blue5 { color: $blue5; }
.green1 { color: $green1; }
.green2 { color: $green2; }
.green3 { color: $green3; }
.green4 { color: $green4; }
.green5 { color: $green5; }
.orange1 { color: $orange1; }
.orange2 { color: $orange2; }
.orange3 { color: $orange3; }
.orange4 { color: $orange4; }
.orange5 { color: $orange5; }
.red1 { color: $red1; }
.red2 { color: $red2; }
.red3 { color: $red3; }
.red4 { color: $red4; }
.red5 { color: $red5; }
.vermilion1 { color: $vermilion1; }
.vermilion2 { color: $vermilion2; }
.vermilion3 { color: $vermilion3; }
.vermilion4 { color: $vermilion4; }
.vermilion5 { color: $vermilion5; }
.rose1 { color: $rose1; }
.rose2 { color: $rose2; }
.rose3 { color: $rose3; }
.rose4 { color: $rose4; }
.rose5 { color: $rose5; }
.violet1 { color: $violet1; }
.violet2 { color: $violet2; }
.violet3 { color: $violet3; }
.violet4 { color: $violet4; }
.violet5 { color: $violet5; }
.indigo1 { color: $indigo1; }
.indigo2 { color: $indigo2; }
.indigo3 { color: $indigo3; }
.indigo4 { color: $indigo4; }
.indigo5 { color: $indigo5; }
.cobalt1 { color: $cobalt1; }
.cobalt2 { color: $cobalt2; }
.cobalt3 { color: $cobalt3; }
.cobalt4 { color: $cobalt4; }
.cobalt5 { color: $cobalt5; }
.turquoise1 { color: $turquoise1; }
.turquoise2 { color: $turquoise2; }
.turquoise3 { color: $turquoise3; }
.turquoise4 { color: $turquoise4; }
.turquoise5 { color: $turquoise5; }
.forest1 { color: $forest1; }
.forest2 { color: $forest2; }
.forest3 { color: $forest3; }
.forest4 { color: $forest4; }
.forest5 { color: $forest5; }
.lime1 { color: $lime1; }
.lime2 { color: $lime2; }
.lime3 { color: $lime3; }
.lime4 { color: $lime4; }
.lime5 { color: $lime5; }
.gold1 { color: $gold1; }
.gold2 { color: $gold2; }
.gold3 { color: $gold3; }
.gold4 { color: $gold4; }
.gold5 { color: $gold5; }
.sepia1 { color: $sepia1; }
.sepia2 { color: $sepia2; }
.sepia3 { color: $sepia3; }
.sepia4 { color: $sepia4; }
.sepia5 { color: $sepia5; }

/* Background colours */

.bg-black { background-color: $black; }
.bg-dark-gray1 { background-color: $dark-gray1; }
.bg-dark-gray2 { background-color: $dark-gray2; }
.bg-dark-gray3 { background-color: $dark-gray3; }
.bg-dark-gray4 { background-color: $dark-gray4; }
.bg-dark-gray5 { background-color: $dark-gray5; }
.bg-gray1 { background-color: $gray1; }
.bg-gray2 { background-color: $gray2; }
.bg-gray3 { background-color: $gray3; }
.bg-gray4 { background-color: $gray4; }
.bg-gray5 { background-color: $gray5; }
.bg-light-gray1 { background-color: $light-gray1; }
.bg-light-gray2 { background-color: $light-gray2; }
.bg-light-gray3 { background-color: $light-gray3; }
.bg-light-gray4 { background-color: $light-gray4; }
.bg-light-gray5 { background-color: $light-gray5; }
.bg-white { background-color: $white; }
.bg-blue1 { background-color: $blue1; }
.bg-blue2 { background-color: $blue2; }
.bg-blue3 { background-color: $blue3; }
.bg-blue4 { background-color: $blue4; }
.bg-blue5 { background-color: $blue5; }
.bg-green1 { background-color: $green1; }
.bg-green2 { background-color: $green2; }
.bg-green3 { background-color: $green3; }
.bg-green4 { background-color: $green4; }
.bg-green5 { background-color: $green5; }
.bg-orange1 { background-color: $orange1; }
.bg-orange2 { background-color: $orange2; }
.bg-orange3 { background-color: $orange3; }
.bg-orange4 { background-color: $orange4; }
.bg-orange5 { background-color: $orange5; }
.bg-red1 { background-color: $red1; }
.bg-red2 { background-color: $red2; }
.bg-red3 { background-color: $red3; }
.bg-red4 { background-color: $red4; }
.bg-red5 { background-color: $red5; }
.bg-vermilion1 { background-color: $vermilion1; }
.bg-vermilion2 { background-color: $vermilion2; }
.bg-vermilion3 { background-color: $vermilion3; }
.bg-vermilion4 { background-color: $vermilion4; }
.bg-vermilion5 { background-color: $vermilion5; }
.bg-rose1 { background-color: $rose1; }
.bg-rose2 { background-color: $rose2; }
.bg-rose3 { background-color: $rose3; }
.bg-rose4 { background-color: $rose4; }
.bg-rose5 { background-color: $rose5; }
.bg-violet1 { background-color: $violet1; }
.bg-violet2 { background-color: $violet2; }
.bg-violet3 { background-color: $violet3; }
.bg-violet4 { background-color: $violet4; }
.bg-violet5 { background-color: $violet5; }
.bg-indigo1 { background-color: $indigo1; }
.bg-indigo2 { background-color: $indigo2; }
.bg-indigo3 { background-color: $indigo3; }
.bg-indigo4 { background-color: $indigo4; }
.bg-indigo5 { background-color: $indigo5; }
.bg-cobalt1 { background-color: $cobalt1; }
.bg-cobalt2 { background-color: $cobalt2; }
.bg-cobalt3 { background-color: $cobalt3; }
.bg-cobalt4 { background-color: $cobalt4; }
.bg-cobalt5 { background-color: $cobalt5; }
.bg-turquoise1 { background-color: $turquoise1; }
.bg-turquoise2 { background-color: $turquoise2; }
.bg-turquoise3 { background-color: $turquoise3; }
.bg-turquoise4 { background-color: $turquoise4; }
.bg-turquoise5 { background-color: $turquoise5; }
.bg-forest1 { background-color: $forest1; }
.bg-forest2 { background-color: $forest2; }
.bg-forest3 { background-color: $forest3; }
.bg-forest4 { background-color: $forest4; }
.bg-forest5 { background-color: $forest5; }
.bg-lime1 { background-color: $lime1; }
.bg-lime2 { background-color: $lime2; }
.bg-lime3 { background-color: $lime3; }
.bg-lime4 { background-color: $lime4; }
.bg-lime5 { background-color: $lime5; }
.bg-gold1 { background-color: $gold1; }
.bg-gold2 { background-color: $gold2; }
.bg-gold3 { background-color: $gold3; }
.bg-gold4 { background-color: $gold4; }
.bg-gold5 { background-color: $gold5; }
.bg-sepia1 { background-color: $sepia1; }
.bg-sepia2 { background-color: $sepia2; }
.bg-sepia3 { background-color: $sepia3; }
.bg-sepia4 { background-color: $sepia4; }
.bg-sepia5 { background-color: $sepia5; }

/* Zebra stripes; alternating coloured backgrounds */

.bg-zebra:nth-child(even) {
  background-color: $light-gray4;
}

/* Transparency */

.alpha100 { opacity: 1; }
.alpha85 { opacity: 0.85; }
.alpha75 { opacity: 0.75; }
.alpha50 { opacity: 0.5; }
.alpha25 { opacity: 0.25; }
.alpha15 { opacity: 0.15; }
.alpha0 { opacity: 0; }

/* Utility colours */

.plain { color: $text-color; }
.muted { color: $text-color-muted; }
.bg-muted { background-color: $text-color-muted; }
.inherit { color: inherit; }
.inherit-i { color: inherit !important; } /* stylelint-disable-line declaration-no-important */
