/*
  CONTAINER

    Wrap content to maintain whitespace from screen edges and limit width.

  NOTE:
    Width is fluid until `max-width` so this only impacts large screens such as
    desktops or TVs.

*/

.con {
  box-sizing: border-box;
  max-width: var(--container-width-max);
  padding-right: var(--gutter-col);
  padding-left: var(--gutter-col);
  margin-right: auto;
  margin-left: auto;

  @media (--screen-large) {
    padding-right: calc(var(--gutter-col) * 2);
    padding-left: calc(var(--gutter-col) * 2);
  }
}

.fluid {
  max-width: unset;
}

.narrow {
  max-width: var(--container-narrow-width-max);
}
