/*
  DISPLAY

  .<RESPONSIVE><BASE><MOD>

  RESPONSIVE:
       = (no prefix) default small
    ns- = not small screen breakpoint; anything medium or bigger
    m- = medium screen breakpoint
    l- = large screen breakpoint

  BASE:
    d = display

  MOD:
    n = none
    b = block
    i = inline
    ib = inline block
    f = flex
    if = inline flex
    g = grid
    ig = inline grid
*/

.dn { display: none; }
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }
.df { display: flex; }
.dif { display: inline-flex; }
.dg { display: grid; }
.dig { display: inline-grid; }

@each $media, $ext in (var(--breakpoints-media)), (var(--breakpoints)) {
  @media ($media) {
    .$(ext)-dn { display: none; }
    .$(ext)-db { display: block; }
    .$(ext)-di { display: inline; }
    .$(ext)-dib { display: inline-block; }
    .$(ext)-df { display: flex; }
    .$(ext)-dif { display: inline-flex; }
    .$(ext)-dg { display: grid; }
    .$(ext)-dig { display: inline-grid; }
  }
}
