/**
 * FLEXBOX
 *
 * NOTE:
 *   Things that are shared between both flexbox and CSS grid are found in
 *   "_grid.css" because this framework prioritises CSS grid first.
 */

/**
 * Much of the time when using flexbox you really just want to vertically align
 * elements, so this class is a shortcut for that.
 */
.dfc {
  display: flex;
  align-items: center;
}

/* Flexbox utilities */

.fwn { flex-wrap: nowrap; } /* default */
.fww { flex-wrap: wrap; }
.fwr { flex-wrap: wrap-reverse; }
.fwu { flex-wrap: unset; }

.f-col { flex-direction: column; }
.f-colr { flex-direction: column-reverse; }
.f-row { flex-direction: row; }
.f-rowr { flex-direction: row-reverse; }

.fba { flex-basis: auto; } /* default */
.fbc { flex-basis: content; }
.fbx { flex-basis: max-content; }
.fbm { flex-basis: min-content; }
.fbf { flex-basis: fit-content; }
.fb0 { flex-basis: 0; }
.fbu { flex-basis: unset; }

.fs0 { flex-shrink: 0; }
.fs1 { flex-shrink: 1; }
.fsu { flex-shrink: unset; }

.fg0 { flex-grow: 0; }
.fg1 { flex-grow: 1; }
.fgu { flex-grow: unset; }

.order-3 { order: -3; }
.order-2 { order: -2; }
.order-1 { order: -1; }
.order0 { order: 0; }
.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }
.order7 { order: 7; }
.order8 { order: 8; }
.order9 { order: 9; }
.order-unset { order: unset; }

@each $bp in $breakpoints {
  @media $($bp) {
    .$(bp)-dfc {
      display: flex;
      align-items: center;
    }

    .$(bp)-fwn { flex-wrap: nowrap; }
    .$(bp)-fww { flex-wrap: wrap; }
    .$(bp)-fwr { flex-wrap: wrap-reverse; }
    .$(bp)-fwu { flex-wrap: unset; }

    .$(bp)-f-col { flex-direction: column; }
    .$(bp)-f-colr { flex-direction: column-reverse; }
    .$(bp)-f-row { flex-direction: row; }
    .$(bp)-f-rowr { flex-direction: row-reverse; }

    .$(bp)-fba { flex-basis: auto; }
    .$(bp)-fbc { flex-basis: content; }
    .$(bp)-fb-max { flex-basis: max-content; }
    .$(bp)-fb-min { flex-basis: min-content; }
    .$(bp)-fb-fit { flex-basis: fit-content; }
    .$(bp)-fb0 { flex-basis: 0; }
    .$(bp)-fbu { flex-basis: unset; }

    .$(bp)-fs0 { flex-shrink: 0; }
    .$(bp)-fs1 { flex-shrink: 1; }
    .$(bp)-fsu { flex-shrink: unset; }

    .$(bp)-fg0 { flex-grow: 0; }
    .$(bp)-fg1 { flex-grow: 1; }
    .$(bp)-fgu { flex-grow: unset; }

    .$(bp)-order-3 { order: -3; }
    .$(bp)-order-2 { order: -2; }
    .$(bp)-order-1 { order: -1; }
    .$(bp)-order0 { order: 0; }
    .$(bp)-order1 { order: 1; }
    .$(bp)-order2 { order: 2; }
    .$(bp)-order3 { order: 3; }
    .$(bp)-order4 { order: 4; }
    .$(bp)-order5 { order: 5; }
    .$(bp)-order6 { order: 6; }
    .$(bp)-order7 { order: 7; }
    .$(bp)-order8 { order: 8; }
    .$(bp)-order9 { order: 9; }
    .$(bp)-order-unset { order: unset; }
  }
}
