/*
  FORMS
*/

.form-group {
  margin-bottom: var(--form-group-margin);
}

.label {
  display: block; /* forces label to appear above the input */
  margin-bottom: var(--label-margin);
  color: var(--label-text-color);
  text-transform: uppercase;

  .input[type="radio"] + &,
  .input[type="checkbox"] + & {
    display: inline-block;
    margin-bottom: 0;
  }
}

.input,
.select,
.textarea {
  padding: var(--input-padding-y) var(--input-padding-x);
  font-size: var(--input-text-size);
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border: var(--input-border);
  border-radius: var(--input-radius);

  &:hover {
    outline: var(--input-hover-outline);
  }

  &:focus,
  &:active {
    outline: var(--input-focus-outline);
  }

  &::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &[disabled],
  &[disabled]:focus,
  &[disabled]:active {
    color: var(--input-disabled-text-color);
    background-color: var(--input-disabled-background-color);
    border: var(--input-disabled-border);
    outline: none;

    &::placeholder {
      color: var(--input-disabled-placeholder-text-color);
    }
  }
}

/* FIXME: Create custom checkbox styles */
/* input[type="checkbox"] {} */

/* Grouped form elements */

/* TODO: Make groups more flexible */
.input-group {
  display: inline-flex;

  & > .button {
    filter: none;
    border: var(--input-border);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > .input {
    margin-right: calc(-1 * var(--radius));
  }
}

/* Form assistance & validation */

.form-help {
  display: block;
  margin-top: var(--form-help-margin);
  color: var(--form-help-text-color);
}

.invalid {
  border: var(--input-invalid-border);
  outline-color: var(--input-invalid-color);
}

.invalid-feedback {
  display: none;
  margin-top: var(--form-help-margin);
  color: var(--input-invalid-color);

  .invalid + & {
    display: block;
  }
}
