/*
  LABELS
*/

.label {
  display: inline-block;
  padding: var(--label-padding);
  font-size: var(--label-font-size);
  color: var(--label-font-colour);
  vertical-align: var(--label-alignment);
  background-color: var(--label-bg-colour);
  border-radius: var(--label-border-radius);
}

/* Whitespace between labels */

.label + .label { margin-left: var(--label-margin-between); }
