/**
 * Loading states.
 *
 * @format
 */

@keyframes spinner {
  to {
    transform: rotate(359deg);
  }
}

.spinner {
  position: relative;
  display: inline-block;
  width: $spinner-size;
  height: $spinner-size;

  &::before {
    position: absolute;
    width: $spinner-size;
    height: $spinner-size;
    border: $spinner-width solid $spinner-background-color;
    border-top-color: $spinner-color;
    border-radius: 50%;
    animation: spinner $spinner-animate-speed $spinner-animate-timing infinite;
    content: '';
  }
}
