/*
  NAVIGATION
*/

/* Side menu */

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin: $side-nav-link-margin;
}

.sidenav-link-active {
  font-weight: $text-weight-heavy;
  background-color: $side-nav-active-background-color;
}

/* Footer */

.footer {
  margin-top: $footer-margin-y;
  margin-bottom: $footer-margin-y;
  color: $footer-text-color;
}

.footer-link {
  display: inline-block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin: 0 $gutter-col 0 calc(-1 * $gutter-col);
}
