/*
  NAVIGATION
*/

/* Side menu */

.sidenav {
  display: flex;
  flex-direction: column;
}

.sidenav-link {
  padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  margin: var(--side-nav-link-margin);
}

.sidenav-link-active {
  font-weight: var(--text-weight-heavy);
  color: var(--side-nav-active-text-color);
  background-color: var(--side-nav-active-background-color);
}

/* Footer */

.footer {
  margin-top: var(--footer-margin-y);
  margin-bottom: var(--footer-margin-y);
  color: var(--footer-text-color);
}

.footer-link {
  display: inline-block;
  padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  margin: 0 var(--gutter-col) 0 calc(-1 * var(--gutter-col));
}
