/**
 * REBOOT
 *
 * Browser consistency changes (in addition to _normalise.css).
 *
 * @format
 */

/* Box model */

/**
 * In general it's not necessary to use `border-box` as the box model
 * everywhere, so this is disabled by default. You will need to add it
 * manually or via the `.bb` class when necessary. When prototyping or
 * if you don't want to worry about the box model you can set
 * `--use-global-border-box: true;`.
 *
 * REFERENCE:
 *  - https://aastudio.fr/box-sizing.html
 *
 */
@if $use-global-border-box {
  html {
    box-sizing: border-box;
  }

  /* stylelint-disable-next-line selector-max-universal */
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
}

/* Form elements */

.button,
.select {
  outline-offset: $outline-offset;
  cursor: pointer;
}

.input,
.textarea {
  outline-offset: $outline-offset;
  cursor: text;
}

.textarea {
  /* allow resize but not horizontally to prevent breaking layout */
  resize: vertical;
}

/* Disabled elements */

[disabled] {
  cursor: not-allowed !important; /* stylelint-disable-line declaration-no-important */
}

/* Images */

img {
  /* responsive scaling by default */
  max-width: 100%;
  height: auto;
}

svg {
  /* match the text color */
  fill: currentColor;
}

/* Horizontal rule */

hr {
  margin: $hr-margin;
  border: 0;
  border-top: $hr-border;
}

/* Abbreviations */

abbr[title] {
  cursor: help;
}
