/**
 * SECTION
 *
 *   A way to break up long pages or add visual interest.
 *
 * HTML LAYOUT:
 *   Hero:
 *
 *     <section class="hero">
 *       <div class="con">
 *         <h1>Your Hero Content</h1>
 *       </div>
 *     </section>
 *
 *   Diagonal:
 *
 *     <section class="diagonal">
 *       <div class="con pv4 tc">
 *         <h2 class="mt0">Example diagonal section</h2>
 *         <p class="lead">Your text.</p>
 *       </div>
 *     </section>
 *
 *     <section class="diagonal diagonal-dark">
 *       <div class="con pv4 tc">
 *         <h2 class="mt0">Another example diagonal section</h2>
 *         <p class="lead">Your text.</p>
 *       </div>
 *     </section>
 *
 * @format
 */

/* Hero section */

.hero {
  margin: $hero-margin;
  padding: $hero-padding;
  color: $hero-text-color;
  background: $hero-background;
}

.hero-dark {
  background: $hero-dark-background;
}

/* Diagonal section */

.diagonal {
  background-color: $diagonal-background-color;

  &::before,
  &::after {
    display: block;
    width: 100%;
    height: $diagonal-hight;
    background-image: $diagonal-image;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';

    @media $l {
      @if $diagonal-hight-l != $diagonal-hight {
        height: $diagonal-hight-l;
      }
    }
  }

  &::after {
    transform: scale(-1);
  }
}

.diagonal-dark {
  color: $diagonal-dark-text-color;
  background-color: $diagonal-dark-background-color;

  label,
  strong {
    color: $diagonal-dark-text-color;
  }

  a {
    color: $diagonal-dark-link-color;
  }

  .form-help {
    color: inherit;
  }

  .invalid-feedback {
    color: $diagonal-dark-input-invalid-color;
  }
}

/* reverse the diagonal angle; top left to bottom right */
.diagonal-reverse {
  &::before {
    transform: scaleX(-1);
  }

  &::after {
    transform: scaleY(-1);
  }
}
