/*
  SECTION

    A way to break up long pages or add visual interest.

  HTML LAYOUT:
    Hero:

      <section class="hero">
        <div class="con">
          <h1>Your Hero Content</h1>
        </div>
      </section>

    Diagonal:

      <section class="diagonal">
        <div class="con pv4 tc">
          <h2 class="mt0">Example diagonal section</h2>
          <p class="lead">Your text.</p>
        </div>
      </section>

      <section class="diagonal diagonal-dark">
        <div class="con pv4 tc">
          <h2 class="mt0">Another example diagonal section</h2>
          <p class="lead">Your text.</p>
        </div>
      </section>

*/

/* Hero section */

.hero {
  padding: var(--hero-padding);
  margin: var(--hero-margin);
  color: var(--hero-text-color);
  background: var(--hero-background);
}

.hero-dark {
  background: var(--hero-dark-background);
}

/* Diagonal section */

.diagonal {
  background-color: var(--diagonal-background-color);

  &::before,
  &::after {
    display: block;
    width: 100%;
    height: var(--diagonal-hight);
    content: "";
    background-image: var(--diagonal-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (--large) {
      @if var(--diagonal-hight-l) != var(--diagonal-hight) {
        height: var(--diagonal-hight-l);
      }
    }
  }

  &::after {
    transform: scale(-1);
  }
}

.diagonal-dark {
  color: var(--diagonal-dark-text-color);
  background-color: var(--diagonal-dark-background-color);

  label,
  strong {
    color: var(--diagonal-dark-text-color);
  }

  a {
    color: var(--diagonal-dark-link-color);
  }

  .form-help {
    color: inherit;
  }

  .invalid-feedback {
    color: var(--diagonal-dark-input-invalid-color);
  }
}

/* reverse the diagonal angle; top left to bottom right */
.diagonal-reverse {
  &::before {
    transform: scaleX(-1);
  }

  &::after {
    transform: scaleY(-1);
  }
}
