/**
 * TAGS
 *
 * @format
 */

.tag {
  display: inline-block;
  padding: $tag-padding;
  color: $tag-text-color;
  font-size: $tag-text-size;
  vertical-align: $tag-alignment;
  background-color: $tag-background-color;
  border-radius: $tag-border-radius;
}

/* Whitespace between tags */

.tag + .tag {
  margin-left: $tag-margin-between;
}
