/*
  TAGS
*/

.tag {
  display: inline-block;
  padding: $tag-padding;
  font-size: $tag-text-size;
  color: $tag-text-color;
  vertical-align: $tag-alignment;
  background-color: $tag-background-color;
  border-radius: $tag-border-radius;
}

/* Whitespace between tags */

.tag + .tag { margin-left: $tag-margin-between; }
