/*
  TYPOGRAPHY
*/

/* Fluid text size */

html {
  @mixin fluid-text-size
    var(--text-size-min),
    var(--text-size-max),
    var(--text-size-from),
    var(--text-size-until);
}

/* Font base */

body {
  /**
   * TODO: Add to docs: if using a web font add "font-display: optional;" and
   * still use fallback for best accessibility (browser will decide if it should
   * use the web font or not, e.g. when connection speed is slow).
   */
  font-family: var(--font-family);
  text-rendering: var(--text-rendering);
  font-variant-ligatures: var(--text-variant);
  color: var(--text-color);
  background-color: var(--app-background-color);

  /* only set when different from browser default */
  @if var(--text-size-min) != 1em AND var(--text-size-min) != 1rem AND var(--text-size-min) != 16px {
    font-size: var(--text-size-min);
  }

  /* only set when different from browser default */
  @if var(--text-weight) != 400 {
    font-weight: var(--text-weight);
  }
}

/* Headings */

/* stylelint-disable selector-list-comma-newline-after */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--heading-text-weight);

  /* prevent long words causing the page to overflow */
  word-break: break-word;
  word-wrap: break-word;

  @if var(--heading-color) != var(--text-color) {
    color: var(--heading-color);
  }
}

h1 { font-size: var(--h1-text-size); }
h2 { font-size: var(--h2-text-size); }
h3 { font-size: var(--h3-text-size); }
h4 { font-size: var(--h4-text-size); }
h5 { font-size: var(--h5-text-size); }
h6 { font-size: var(--h6-text-size); }
/* stylelint-enable selector-list-comma-newline-after */

.headline { font-size: var(--headline-text-size); }

/* Paragraphs */

p {
  line-height: var(--paragraph-line-height);
}

.lead {
  font-size: var(--paragraph-lead-text-size);
  font-weight: var(--text-weight-light);
}

/* Links */

.link,
a {
  padding: var(--link-click-area); /* larger link click area size */
  margin: calc(-1 * var(--link-click-area));
  color: var(--link-color);
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }
}

/* Lists */

li { margin-bottom: var(--li-margin-between); } /* more space between list items */

.lsn { /* list style none */
  padding-left: 0;
  list-style: none;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.9rem 1rem;
}

tbody > tr:nth-child(odd) {
  background: var(--background-color-muted);

  /* FIXME: These selector chain makes me sad, come up with a better solution */
  /* & > td:first-child {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -50vw;
      z-index: -1;
      width: 150vw;
      height: 100%;
      content: "";
      background: var(--background-color-muted);
    }
  } */
}

/* Quotes */

.quote {
  position: relative;
  font-size: var(--quote-text-size);

  &::before,
  &::after {
    position: absolute;
    font-size: var(--quote-mark-text-size);
  }

  /* use em not rem so it's relative to font size */
  /* FIXME: This doesn't work and looks bad! */
  &::before {
    top: -0.28em;
    left: -0.45em;
    content: "“";
  }

  &::after {
    top: -0.25em;
    margin-left: 0.1em;
    content: "”";
  }
}

/* Code */

.mono,
code {
  font-family: var(--font-family-monospace);
}

code {
  display: inline-block;
  padding: 0.1em 0.4em;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  border: 1px solid var(--light-gray1);
  border-radius: var(--radius);
}
