/*
  TYPOGRAPHY
*/

/* Text base */

body {
  font-family: var(--font-stack);
  font-size: var(--text-size);
  color: var(--text-color);
  background-color: var(--app-background-color);

  /* only if different from browser default */
  @if var(--text-weight) != 400 {
    font-weight: var(--text-weight);
  }

  @media (--screen-large) {
    font-size: var(--text-size-large);
  }
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* prevent long words causing the page to overflow */
  word-break: break-word;
  word-wrap: break-word;

  @if var(--heading-text-weight) != 800 AND var(--heading-text-weight) != bold {
    font-weight: var(--heading-text-weight);
  }

  @if var(--heading-color) != var(--text-color) {
    color: var(--heading-color);
  }
}

h1 { font-size: var(--h1-text-size); }
h2 { font-size: var(--h2-text-size); }
h3 { font-size: var(--h3-text-size); }
h4 { font-size: var(--h4-text-size); }
h5 { font-size: var(--h5-text-size); }
h6 { font-size: var(--h6-text-size); }

.headline { font-size: var(--headline-text-size); }

/* Paragraphs */

p {
  line-height: var(--paragraph-line-height);
}

.lead {
  font-size: var(--paragraph-lead-text-size);
  font-weight: var(--paragraph-lead-text-weight);
}

/* Links */

.link,
a {
  padding: var(--link-click-area); /* larger link click area size */
  margin: calc(-1 * var(--link-click-area));
  color: var(--link-color);
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }
}

/* Lists */

/* more space between list items */
li {
  margin-bottom: var(--li-margin-between);
}

/* list style none */
.lsn {
  padding-left: 0;
  list-style: none;
}

/* Tables */

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.9rem 1rem;
  }

  tbody > tr:nth-child(odd) {
    background: var(--background-color-muted);

    /* FIXME: These selector chain makes me sad, come up with a better solution */
    /* & > td:first-child {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: -50vw;
        z-index: -1;
        width: 150vw;
        height: 100%;
        content: "";
        background: var(--background-color-muted);
      }
    } */
  }
}


/* Quotes */

/* TODO: New blockquote styles */
/* .blockquote {} */

/* Code */

.mono,
.code {
  font-family: var(--font-stack-monospace);
}

.code {
  display: inline-block;
  padding: 0.1em 0.4em;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  border: 1px solid var(--light-gray1);
  border-radius: var(--radius);
}
