/*
  TYPOGRAPHY
*/

/* Fluid font size */

html {
  @mixin fluid-font-size
    var(--font-size-min),
    var(--font-size-max),
    var(--font-size-from),
    var(--font-size-until);
}

/* Font base */

body {
  /**
   * TODO: Add to docs: if using a web font add "font-display: optional;" and
   * still use fallback for best accessibility (browser will decide if it should
   * use the web font or not, e.g. when connection speed is slow).
   */
  font-family: var(--font-family);
  text-rendering: var(--font-rendering);
  font-variant-ligatures: var(--font-variant);
  color: var(--body-font-colour);
  background-color: var(--body-bg-colour);

  /* only set when different from browser default */
  @if var(--font-size-min) != 1em AND var(--font-size-min) != 1rem AND var(--font-size-min) != 16px {
    font-size: var(--font-size-min);
  }

  /* only set when different from browser default */
  @if var(--font-weight) != 400 {
    font-weight: var(--font-weight);
  }
}

/* Headings */

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: var(--heading-small-font-colour);
}

/* stylelint-disable selector-list-comma-newline-after */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-weight: var(--heading-font-weight);

  /* prevent long words causing the page to overflow */
  word-break: break-word;
  word-wrap: break-word;
}

.h1, h1 { font-size: var(--h1-font-size); }
.h2, h2 { font-size: var(--h2-font-size); }
.h3, h3 { font-size: var(--h3-font-size); }
.h4, h4 { font-size: var(--h4-font-size); }
.h5, h5 { font-size: var(--h5-font-size); }
.h6, h6 { font-size: var(--h6-font-size); }
/* stylelint-enable selector-list-comma-newline-after */

.headline { font-size: var(--headline-font-size); }

/* Paragraphs */

p {
  line-height: var(--paragraph-line-height);
}

.lead {
  font-size: var(--paragraph-lead-font-size);
  font-weight: var(--font-weight-light);
}

/* Links */

.link,
a {
  padding: var(--link-click-area); /* larger link click area size */
  margin: calc(-1 * var(--link-click-area));
  color: var(--link-font-colour);
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: var(--link-hover-font-colour);
    text-decoration: underline;
  }
}

/* Lists */

li { margin-bottom: var(--li-margin-between); } /* more space between list items */

.lsn { /* list style none */
  padding-left: 0;
  list-style: none;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.9rem 1rem;
}

tbody > tr:nth-child(odd) {
  background: var(--blue-grey-50);

  /* FIXME: These selector chain makes me sad, come up with a better solution */
  /* & > td:first-child {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: -50vw;
      z-index: -1;
      width: 150vw;
      height: 100%;
      content: "";
      background: var(--blue-grey-50);
    }
  } */
}

/* Quotes */

.quote {
  position: relative;
  font-size: var(--quote-font-size);

  &::before,
  &::after {
    position: absolute;
    font-size: var(--quote-mark-font-size);
  }

  /* use em not rem so it's relative to font size */
  /* FIXME: This doesn't work and looks bad! */
  &::before {
    top: -0.28em;
    left: -0.45em;
    content: "“";
  }

  &::after {
    top: -0.25em;
    margin-left: 0.1em;
    content: "”";
  }
}

/* Code */

.mono,
code {
  font-family: var(--font-family-monospace);
}

code {
  display: inline-block;
  padding: 0.1rem 0.4rem;
  color: var(--red-500);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
  border-radius: var(--radius-1);
}
