/*
  UTILITIES
*/

/* Width */

.w100 { width: 100%; }
.wfit { width: fit-content; }

.mw0 { min-width: 0; }

/* Text alignment */

.tl { text-align: left; } /* default */
.tr { text-align: right; }
.tc { text-align: center; }
.tj { text-align: justify; }
.tu { text-align: unset; }

@each $media, $ext in (var(--breakpoints-media)), (var(--breakpoints)) {
  @media ($media) {
    .tl-$(ext) { text-align: left; }
    .tr-$(ext) { text-align: right; }
    .tc-$(ext) { text-align: center; }
    .tj-$(ext) { text-align: justify; }
    .tu-$(ext) { text-align: unset; }
  }
}

/* Text transform */

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

/* Font variants and decoration */

.bold { font-weight: var(--font-weight-heavy); }
.italic { font-style: italic; }

.normal {
  font-style: normal;
  font-weight: var(--font-weight);
}

.underline { text-decoration: underline; }

/* Borders */

.bt0 { border-top: 0; }
.br0 { border-right: 0; }
.bb0 { border-bottom: 0; }
.bl0 { border-left: 0; }

.rad { border-radius: var(--radius-1); }
.rad2 { border-radius: var(--radius-2); }
.rad0 { border-radius: 0; }

/* stylelint-disable declaration-no-important */
.bt0-i { border-top: 0 !important; }
.br0-i { border-right: 0 !important; }
.bb0-i { border-bottom: 0 !important; }
.bl0-i { border-left: 0 !important; }

.rad0-i { border-radius: 0 !important; }
/* stylelint-enable declaration-no-important */

/* Cursors */

.pointer { cursor: pointer; }
.help { cursor: help; } /* useful with the tooltip action */

/* Line height hacks */

.lh1 { line-height: 1; }
.lh0 { line-height: 0; }
