/**
 * UTILITIES
 */

/* Box model */

.bb { box-sizing: border-box; }

/* Width */

.w100 { width: 100%; /* When using `.w100` it's also a good idea to add `.bb` too */ }
.wfit { width: fit-content; }
.wi { width: initial; }

.mw0 { min-width: 0; }

/* Text alignment */

.tl { text-align: left; } /* default */
.tr { text-align: right; }
.tc { text-align: center; }
.tj { text-align: justify; }
.tu { text-align: unset; }

@each $bp in $breakpoints {
  @include at-media($bp) {
    .$(bp)-tl { text-align: left; }
    .$(bp)-tr { text-align: right; }
    .$(bp)-tc { text-align: center; }
    .$(bp)-tj { text-align: justify; }
    .$(bp)-tu { text-align: unset; }
  }
}

/* Text transform */

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

/* Text wrapping */

.wsn { white-space: nowrap; }
.wsu { white-space: unset; }

/* Font variants and decoration */

.bold { font-weight: $text-weight-heavy; }
.italic { font-style: italic; }

.normal {
  font-style: normal;
  font-weight: $text-weight;
}

.underline { text-decoration: underline; }

/* Borders */

.bt0 { border-top: 0; }
.br0 { border-right: 0; }
.bb0 { border-bottom: 0; }
.bl0 { border-left: 0; }

.rounded { border-radius: $radius; }
.rounded-large { border-radius: $radius-large; }
.not-rounded { border-radius: 0; }

/* stylelint-disable declaration-no-important */
.bt0-i { border-top: 0 !important; }
.br0-i { border-right: 0 !important; }
.bb0-i { border-bottom: 0 !important; }
.bl0-i { border-left: 0 !important; }

.not-rounded-i { border-radius: 0 !important; }
/* stylelint-enable declaration-no-important */

/* Cursors */

.pointer { cursor: pointer; }
.help { cursor: help; } /* useful with the tooltip action */

/* Line height hacks */

.lh1 { line-height: 1; }
.lh0 { line-height: 0; }
