/*
  GLOBAL VARIABLES

  NOTE:
    - Colour variables are in _variables-color.css.
    - Components also contain their own CSS variables.

*/

/* Media queries */
@custom-media --screen-not-small screen and (min-width: 30.01em);
@custom-media --screen-medium screen and (min-width: 30.01em) and (max-width: 60em);
@custom-media --screen-large screen and (min-width: 60.01em);

:root {
  /* Breakpoints */

  --breakpoints-media: --screen-not-small, --screen-medium, --screen-large;
  --breakpoints: ns, m, l;

  /* General */

  --spacing-steps: 0, 1, 2, 3, 4, 5, 6, 7;
  --spacing-values: 0, 0.25em, 0.5em, 1em, 2em, 4em, 8em, 16em;
  --radius: 0.2rem; /* 3.2px at root */
  --radius-large: 0.32rem; /* 5px at root */
  --angle1: 151deg;
  --angle2: 45deg;
  --angle3: -27deg;

  /* Grid */

  --container-width-max: 50em; /* 1050px @ 21px font size */
  --container-narrow-width-max: 30em;
  --item-size: 1fr;
  --cols: auto;
  --rows: auto;
  --auto-cols: var(--item-size);
  --auto-rows: auto;
  --col-steps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  --row-steps: 1, 2, 3, 4, 5, 6;
  --gutter-col: 1em;
  --gutter-col-large: 2em;
  --gutter-row: 2em;
  --gutter-row-large: 2em;
  --gutter-compact: calc(var(--gutter-row) / 4) 0;

  /* Typography */

  --font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-monospace:
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
  --text-size-min: 1em; /* use the browser's default font size, normally 16px */
  --text-size-max: 1.375em; /* 22px */
  --text-size-from: 30.01em; /* start growing font from this screen width */
  --text-size-until: var(--container-width-max); /* stop growing font size at this screen width */
  --text-weight-light: 300;
  --text-weight: 400; /* 400 is browser default */
  --text-weight-heavy: 700; /* 700 is browser default */
  --text-rendering: optimizeSpeed;
  --text-variant: none;
  --line-height: 1.5;
  /* font size according to modular scale = 1, 1.25 (double stranded) * ratio = 1.5 */
  --headline-text-size: 5.063em;
  --h1-text-size: 3.375em;
  --h2-text-size: 2.813em;
  --h3-text-size: 2.25em;
  --h4-text-size: 1.875em;
  --h5-text-size: 1.5em;
  --h6-text-size: 1.25em;
  --heading-text-weight: var(--text-weight);
  --paragraph-line-height: 1.762;
  --paragraph-line-height: 1.7;
  --paragraph-lead-text-size: 1.5em;
  --link-click-area: 0.4em; /* reduce this if your links are overlapping */
  --hr-margin: 3em 0;
  --hr-border: 1px solid var(--divider-black);
  --li-margin-between: 0.5em;
  --quote-text-size: 2em;
  --quote-mark-text-size: 3em;
  /* --abbr-underline-color: color-mod(var(--text-color lightness(25%))); */
  --abbr-underline-color: var(--dark-gray3);

  /* Shadows */

  --shadow-color: var(--cobalt1);
  --shadow: drop-shadow(0 1rem 0.95rem color-mod(var(--shadow-color) alpha(0.39)));
  --shadow-light: drop-shadow(0 0.4rem 0.6rem color-mod(var(--shadow-color) alpha(0.15)));
  --shadow-light-edge: drop-shadow(0 0.1rem 0.1rem color-mod(var(--shadow-color) alpha(0.06)));

  /* Navigation */

  --nav-link-padding-x: 1.3em;
  --nav-link-padding-y: 0.7em;
  --side-nav-link-margin: 0;
  --side-nav-active-text-color: var(--link-color-hover);
  --side-nav-active-background-color: var(--background-color-muted);
  --footer-margin-y: 5rem;
  --footer-text-color: var(--text-color-muted);

  /* Buttons */

  --button-padding-x: 1.75em;
  --button-padding-y: 0.682em;
  --button-text-color: var(--dark-gray2);
  --button-background-color: var(--white);
  --button-radius: var(--radius);
  --button-shadow: drop-shadow(0 0.18rem 0.18rem color-mod(var(--shadow-color) alpha(0.24)));
  --button-hover-background-color: var(--light-gray2);
  --button-active-background-color: var(--light-gray1);
  --button-disabled-text-color: var(--text-color-disabled);
  --button-disabled-border-color: var(--light-gray2);
  --button-mini-padding:
    calc(var(--button-padding-y) / 2)
    calc(var(--button-padding-x) / 2);

  /* Forms */

  --form-group-margin: 1.5rem;
  --label-margin: 0.5em;
  --label-text-color: var(--dark-gray2);
  --input-padding-x: 1rem;
  --input-padding-y: 0.5rem;
  --input-text-size: 1.2em;
  --input-text-color: var(--text-color);
  --input-background-color: var(--white);
  --input-border: 1px solid var(--gray5);
  --input-radius: var(--radius);
  --input-hover-outline: 3px solid var(--outline-color-hover);
  --input-focus-outline: 3px solid var(--outline-color);
  --input-invalid-color: var(--red2);
  --input-invalid-border: 3px solid var(--intent-danger);
  --input-placeholder-text-color: var(--gray2);
  --input-disabled-text-color: var(--text-color-disabled);
  --input-disabled-background-color: initial;
  --input-disabled-border: 1px solid var(--light-gray2);
  --input-disabled-placeholder-text-color: var(--gray5);
  --form-help-margin: var(--label-margin);
  --form-help-text-color: var(--dark-gray5);

  /* Cards */

  --card-background-color: var(--white);
  --card-shadow: drop-shadow(0 0.2rem 0.2rem color-mod(var(--shadow-color) alpha(0.18)));
  --card-hover-optimize: false;
  --card-hover-zindex: 1;
  --card-hover-text-color: var(--text-color);
  --card-hover-shadow:
    var(--shadow-light)
    var(--shadow-light-edge);
  --card-hover-animate-speed-1: 180ms;
  --card-hover-animate-speed-2: 240ms;
  --card-hover-animate-distance: -3px;
  --card-hover-hover-shadow: var(--shadow);
  --card-body-margin: 1.2rem 2rem;
  --card-button-text-color: var(--button-text-color);
  --card-button-border: 1px solid var(--light-gray4);

  /* Alerts */

  --alert-padding: 1em;
  --alert-margin-y: 2em;
  --alert-background-color: var(--light-gray4);
  --alert-border-size: 0.4rem;
  --alert-tip-text-color: var(--green1);
  --alert-tip-border-color: var(--green5);
  --alert-info-text-color: var(--blue1);
  --alert-info-border-color: var(--blue5);
  --alert-warning-text-color: var(--orange1);
  --alert-warning-border-color: var(--orange5);
  --alert-error-text-color: var(--red1);
  --alert-error-border-color: var(--red5);

  /* Tags */

  --tag-padding: 0.04em 0.44em 0.185em;
  --tag-text-size: 0.9em;
  --tag-text-color: var(--gray1);
  --tag-background-color: var(--light-gray4);
  --tag-alignment: 0.1em;
  --tag-border-radius: var(--radius);
  --tag-margin-between: 1em;

  /* Sections */

  --hero-padding: 1.5rem 0;
  --hero-margin: 2rem 0;
  --hero-text-color: var(--dark-text-color);
  --hero-background: linear-gradient(var(--angle3), var(--cobalt1), var(--cobalt3));
  --hero-dark-background: linear-gradient(var(--angle3), var(--dark-gray1), var(--dark-gray3));
  --diagonal-hight: 4rem;
  --diagonal-hight-l: 6rem;
  /**
   * See `images/diagonal.svg` for the original SVG markup and instructions to
   * customise the diagonal image.
   */
  /* --diagonal-image: url("diagonal.svg"); */
  --diagonal-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 1 1'%3E%3Cpath fill='%23fafafa' d='M1 0L0 1V0z'/%3E%3C/svg%3E");
  --diagonal-background-color: var(--light-gray3);
  --diagonal-dark-text-color: var(--white);
  --diagonal-dark-background-color: var(--dark-gray1);
  --diagonal-dark-link-color: var(--dark-link-color);
  --diagonal-dark-input-invalid-color: var(--red5);
}
