/**
 * COLOUR VARIABLES
 *
 * @format
 */

/*
  TODO: Add a note referencing original work these colours are from:
    ↳ Palantir Technologies, Inc.
    ↳ https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_colors.scss
    ↳ https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_color-aliases.scss
    ↳ https://blueprintjs.com/docs/#core/colors

  TODO: Refactor all these colours into a brighter, more cheerful pallette.
*/

/* Gray scale */

$black: rgb(16, 22, 26);
$dark-gray1: rgb(24, 32, 38);
$dark-gray2: rgb(32, 43, 51);
$dark-gray3: rgb(41, 55, 66);
$dark-gray4: rgb(48, 64, 77);
$dark-gray5: rgb(57, 75, 89);
$gray1: rgb(92, 112, 128);
$gray2: rgb(115, 134, 148);
$gray3: rgb(138, 155, 168);
$gray4: rgb(167, 182, 194);
$gray5: rgb(191, 204, 214);
$light-gray1: rgb(206, 217, 224);
$light-gray2: rgb(216, 225, 232);
$light-gray3: rgb(225, 232, 237);
$light-gray4: rgb(235, 241, 245);
$light-gray5: rgb(245, 248, 250);
$white: rgb(255, 255, 255);

/* Core colors */

$blue1: rgb(14, 90, 138);
$blue2: rgb(16, 107, 163);
$blue3: rgb(19, 124, 189);
$blue4: rgb(43, 149, 214);
$blue5: rgb(72, 175, 240);
$green1: rgb(10, 102, 64);
$green2: rgb(13, 128, 80);
$green3: rgb(15, 153, 96);
$green4: rgb(21, 179, 113);
$green5: rgb(61, 204, 145);
$orange1: rgb(166, 99, 33);
$orange2: rgb(191, 115, 38);
$orange3: rgb(217, 130, 43);
$orange4: rgb(242, 157, 73);
$orange5: rgb(255, 179, 102);
$red1: rgb(168, 42, 42);
$red2: rgb(194, 48, 48);
$red3: rgb(219, 55, 55);
$red4: rgb(245, 86, 86);
$red5: rgb(255, 115, 115);

/* Extended colors */

$vermilion1: rgb(158, 43, 14);
$vermilion2: rgb(184, 50, 17);
$vermilion3: rgb(209, 57, 19);
$vermilion4: rgb(235, 83, 45);
$vermilion5: rgb(255, 110, 74);
$rose1: rgb(168, 34, 85);
$rose2: rgb(194, 39, 98);
$rose3: rgb(219, 44, 111);
$rose4: rgb(245, 73, 139);
$rose5: rgb(255, 102, 161);
$violet1: rgb(92, 37, 92);
$violet2: rgb(117, 47, 117);
$violet3: rgb(143, 57, 143);
$violet4: rgb(168, 84, 168);
$violet5: rgb(194, 116, 194);
$indigo1: rgb(86, 66, 166);
$indigo2: rgb(99, 77, 191);
$indigo3: rgb(113, 87, 217);
$indigo4: rgb(145, 121, 242);
$indigo5: rgb(173, 153, 255);
$cobalt1: rgb(31, 75, 153);
$cobalt2: rgb(36, 88, 179);
$cobalt3: rgb(41, 101, 204);
$cobalt4: rgb(69, 128, 230);
$cobalt5: rgb(102, 158, 255);
$turquoise1: rgb(0, 128, 117);
$turquoise2: rgb(0, 153, 140);
$turquoise3: rgb(0, 179, 164);
$turquoise4: rgb(20, 204, 189);
$turquoise5: rgb(46, 230, 214);
$forest1: rgb(29, 115, 36);
$forest2: rgb(35, 140, 44);
$forest3: rgb(41, 166, 52);
$forest4: rgb(67, 191, 77);
$forest5: rgb(98, 217, 107);
$lime1: rgb(114, 140, 35);
$lime2: rgb(135, 166, 41);
$lime3: rgb(155, 191, 48);
$lime4: rgb(182, 217, 76);
$lime5: rgb(209, 242, 109);
$gold1: rgb(166, 121, 8);
$gold2: rgb(191, 140, 10);
$gold3: rgb(217, 158, 11);
$gold4: rgb(242, 184, 36);
$gold5: rgb(255, 201, 64);
$sepia1: rgb(99, 65, 30);
$sepia2: rgb(125, 81, 37);
$sepia3: rgb(150, 98, 45);
$sepia4: rgb(176, 123, 70);
$sepia5: rgb(201, 151, 101);

/* Aliases */

$intent-primary: $blue3 !default;
$intent-success: $green3 !default;
$intent-warning: $orange3 !default;
$intent-danger: $red3 !default;
/* $app-background-color: $light-gray5 !default; */
$app-background-color: rgb(250, 250, 250) !default;
$dark-app-background-color: $dark-gray3 !default;
$outline-color: color-mod($blue3 alpha(0.6)) !default;
$outline-color-hover: color-mod($gray3 alpha(0.6)) !default;
$text-color: $dark-gray1 !default;
$text-color-muted: $gray1 !default;
$text-color-disabled: color-mod($text-color-muted alpha(0.5)) !default;
$heading-color: $text-color !default;
$link-color: $intent-primary !default;
$shadow-color: $cobalt1 !default;
$dark-text-color: $light-gray5 !default;
$dark-text-color-muted: $gray5 !default;
$dark-text-color-disabled: color-mod(
  $dark-text-color-muted alpha(0.5)
) !default;
$dark-heading-color: $dark-text-color !default;
$dark-link-color: $blue5 !default;
$background-color-muted: $light-gray4 !default;
/*
$icon-color: $text-color-muted !default;
$icon-color-hover: $text-color !default;
$icon-color-disabled: $text-color-disabled !default;
$icon-color-selected: $intent-primary !default;
$dark-icon-color: $dark-text-color-muted !default;
$dark-icon-color-hover: $dark-text-color !default;
$dark-icon-color-disabled: $dark-text-color-disabled !default;
$dark-icon-color-selected: $intent-primary !default;
*/
$divider-black: color-mod($black alpha(0.15)) !default;
$dark-divider-black: color-mod($black alpha(0.4)) !default;
$dark-divider-white: color-mod($white alpha(0.15)) !default;
/* $code-text-color: $text-color-muted !default; */
$code-text-color: $sepia1 !default;
/* $dark-code-text-color: $dark-text-color-muted !default; */
$dark-code-text-color: $sepia4 !default;
$code-background-color: color-mod($white alpha(0.7)) !default;
$dark-code-background-color: color-mod($black alpha(0.3)) !default;
