/**
 * COLOUR VARIABLES
 *
 * README:
 *   Whenever possible, stick to these predefined colours for consistency and a
 *   sense of familiarity.
 *
 * @format
 */

/*
  TODO: Add a note referencing the original work/s these colours are from:
    ↳ Palantir Technologies, Inc.
    ↳ https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_colors.scss
    ↳ https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_color-aliases.scss
    ↳ https://blueprintjs.com/docs/#core/colors
*/
/* TODO: Refactor all these colours into a brighter, more cheerful pallette. */

/* stylelint-disable function-blacklist */

/* Gray scale */

$black: hsl(204, 24%, 8%) !default;
$dark-gray1: hsl(206, 23%, 12%) !default;
$dark-gray2: hsl(205, 23%, 16%) !default;
$dark-gray3: hsl(206, 23%, 21%) !default;
$dark-gray4: hsl(207, 23%, 25%) !default;
$dark-gray5: hsl(206, 22%, 29%) !default;
$gray1: hsl(207, 16%, 43%) !default;
$gray2: hsl(205, 13%, 52%) !default;
$gray3: hsl(206, 15%, 60%) !default;
$gray4: hsl(207, 18%, 71%) !default;
$gray5: hsl(206, 22%, 79%) !default;
$light-gray1: hsl(203, 22%, 84%) !default;
$light-gray2: hsl(206, 26%, 88%) !default;
$light-gray3: hsl(205, 25%, 91%) !default;
$light-gray4: hsl(204, 33%, 94%) !default;
$light-gray5: hsl(204, 33%, 97%) !default;
$white: hsl(0, 0%, 100%) !default;

/* Core colours */

$blue1: hsl(203, 82%, 30%) !default;
$blue2: hsl(203, 82%, 35%) !default;
$blue3: hsl(203, 82%, 41%) !default;
$blue4: hsl(203, 68%, 50%) !default;
$blue5: hsl(203, 85%, 61%) !default;
$green1: hsl(155, 82%, 22%) !default;
$green2: hsl(155, 82%, 28%) !default;
$green3: hsl(155, 82%, 33%) !default;
$green4: hsl(155, 79%, 39%) !default;
$green5: hsl(155, 58%, 52%) !default;
$orange1: hsl(30, 67%, 39%) !default;
$orange2: hsl(30, 67%, 45%) !default;
$orange3: hsl(30, 70%, 51%) !default;
$orange4: hsl(30, 87%, 62%) !default;
$orange5: hsl(30, 100%, 70%) !default;
$red1: hsl(0, 60%, 41%) !default;
$red2: hsl(0, 60%, 47%) !default;
$red3: hsl(0, 69%, 54%) !default;
$red4: hsl(0, 89%, 65%) !default;
$red5: hsl(0, 100%, 73%) !default;

/* Extended colours */

$vermilion1: hsl(12, 84%, 34%) !default;
$vermilion2: hsl(12, 83%, 39%) !default;
$vermilion3: hsl(12, 83%, 45%) !default;
$vermilion4: hsl(12, 83%, 55%) !default;
$vermilion5: hsl(12, 100%, 65%) !default;
$rose1: hsl(337, 66%, 40%) !default;
$rose2: hsl(337, 67%, 46%) !default;
$rose3: hsl(337, 71%, 52%) !default;
$rose4: hsl(337, 90%, 62%) !default;
$rose5: hsl(337, 100%, 70%) !default;
$violet1: hsl(300, 43%, 25%) !default;
$violet2: hsl(300, 43%, 32%) !default;
$violet3: hsl(300, 43%, 39%) !default;
$violet4: hsl(300, 33%, 49%) !default;
$violet5: hsl(300, 39%, 61%) !default;
$indigo1: hsl(252, 43%, 45%) !default;
$indigo2: hsl(252, 47%, 53%) !default;
$indigo3: hsl(252, 63%, 60%) !default;
$indigo4: hsl(252, 82%, 71%) !default;
$indigo5: hsl(252, 100%, 80%) !default;
$cobalt1: hsl(218, 66%, 36%) !default;
$cobalt2: hsl(218, 67%, 42%) !default;
$cobalt3: hsl(218, 67%, 48%) !default;
$cobalt4: hsl(218, 76%, 59%) !default;
$cobalt5: hsl(218, 100%, 70%) !default;
$turquoise1: hsl(175, 100%, 25%) !default;
$turquoise2: hsl(175, 100%, 30%) !default;
$turquoise3: hsl(175, 100%, 35%) !default;
$turquoise4: hsl(175, 82%, 44%) !default;
$turquoise5: hsl(175, 79%, 54%) !default;
$forest1: hsl(125, 60%, 28%) !default;
$forest2: hsl(125, 60%, 34%) !default;
$forest3: hsl(125, 60%, 41%) !default;
$forest4: hsl(125, 49%, 51%) !default;
$forest5: hsl(125, 61%, 62%) !default;
$lime1: hsl(75, 60%, 34%) !default;
$lime2: hsl(75, 60%, 41%) !default;
$lime3: hsl(75, 60%, 47%) !default;
$lime4: hsl(75, 65%, 57%) !default;
$lime5: hsl(75, 84%, 69%) !default;
$gold1: hsl(43, 91%, 34%) !default;
$gold2: hsl(43, 90%, 39%) !default;
$gold3: hsl(43, 90%, 45%) !default;
$gold4: hsl(43, 89%, 55%) !default;
$gold5: hsl(43, 100%, 63%) !default;
$sepia1: hsl(30, 53%, 25%) !default;
$sepia2: hsl(30, 54%, 32%) !default;
$sepia3: hsl(30, 54%, 38%) !default;
$sepia4: hsl(30, 43%, 48%) !default;
$sepia5: hsl(30, 48%, 59%) !default;

/* Aliases */

$intent-primary: $blue3 !default;
$intent-success: $green3 !default;
$intent-warning: $orange3 !default;
$intent-danger: $red3 !default;
/* $app-background-color: $light-gray5 !default; */
$app-background-color: hsl(0, 0%, 98%) !default;
$dark-app-background-color: $dark-gray3 !default;
$outline-color: color-mod($blue3 alpha(0.6)) !default;
$outline-color-hover: color-mod($gray3 alpha(0.6)) !default;
$text-color: $dark-gray2 !default;
$text-color-muted: $gray1 !default;
$text-color-disabled: color-mod($text-color-muted alpha(0.5)) !default;
$heading-color: $text-color !default;
/* TODO: This should probably be the Minna UI default link colour */
/* $brand-blue: hsl(209, 87%, 43%); */
$link-color: $intent-primary !default;
$shadow-color: $cobalt1 !default;
$dark-text-color: $light-gray5 !default;
$dark-text-color-muted: $gray5 !default;
/* stylelint-disable-next-line max-line-length */ /* prettier-ignore */
$dark-text-color-disabled: color-mod($dark-text-color-muted alpha(0.5)) !default;
$dark-heading-color: $dark-text-color !default;
$dark-link-color: $blue5 !default;
$background-color-muted: $light-gray4 !default;
/* TODO: Should we have default icon styles? */
/* TODO: Should we provide a default icon set? */
/*
$icon-color: $text-color-muted !default;
$icon-color-hover: $text-color !default;
$icon-color-disabled: $text-color-disabled !default;
$icon-color-selected: $intent-primary !default;
$dark-icon-color: $dark-text-color-muted !default;
$dark-icon-color-hover: $dark-text-color !default;
$dark-icon-color-disabled: $dark-text-color-disabled !default;
$dark-icon-color-selected: $intent-primary !default;
*/
$divider-black: color-mod($black alpha(0.15)) !default;
$dark-divider-black: color-mod($black alpha(0.4)) !default;
$dark-divider-white: color-mod($white alpha(0.15)) !default;
/* $code-text-color: $text-color-muted !default; */
$code-text-color: $sepia1 !default;
/* $dark-code-text-color: $dark-text-color-muted !default; */
$dark-code-text-color: $sepia4 !default;
$code-background-color: color-mod($white alpha(0.7)) !default;
$dark-code-background-color: color-mod($black alpha(0.3)) !default;
