/*
  MATERIAL DESIGN COLOUR VARIABLES

    2014 Material Design colour palettes from:
    https://material.io/guidelines/style/color.html#color-color-tool

  NOTE:
    Colours are represented using the HSL for better human readability.

*/

:root {
  --red-50: hsl(351, 100%, 96%);
  --red-100: hsl(354, 100%, 90%);
  --red-200: hsl(0, 73%, 77%);
  --red-300: hsl(0, 69%, 67%);
  --red-400: hsl(1, 83%, 63%);
  --red-500: hsl(4, 90%, 58%);
  --red-600: hsl(1, 77%, 55%);
  --red-700: hsl(0, 65%, 51%);
  --red-800: hsl(0, 66%, 47%);
  --red-900: hsl(0, 73%, 41%);
  --red-a100: hsl(5, 100%, 75%);
  --red-a200: hsl(0, 100%, 66%);
  --red-a400: hsl(348, 100%, 55%);
  --red-a700: hsl(0, 100%, 42%);
  --pink-50: hsl(340, 80%, 94%);
  --pink-100: hsl(339, 81%, 85%);
  --pink-200: hsl(340, 82%, 76%);
  --pink-300: hsl(340, 83%, 66%);
  --pink-400: hsl(340, 82%, 59%);
  --pink-500: hsl(340, 82%, 52%);
  --pink-600: hsl(338, 78%, 48%);
  --pink-700: hsl(336, 78%, 43%);
  --pink-800: hsl(334, 79%, 38%);
  --pink-900: hsl(328, 81%, 29%);
  --pink-a100: hsl(340, 100%, 75%);
  --pink-a200: hsl(340, 100%, 63%);
  --pink-a400: hsl(339, 100%, 48%);
  --pink-a700: hsl(333, 84%, 42%);
  --purple-50: hsl(292, 44%, 93%);
  --purple-100: hsl(291, 46%, 83%);
  --purple-200: hsl(291, 47%, 71%);
  --purple-300: hsl(291, 47%, 60%);
  --purple-400: hsl(291, 47%, 51%);
  --purple-500: hsl(291, 64%, 42%);
  --purple-600: hsl(287, 65%, 40%);
  --purple-700: hsl(282, 68%, 38%);
  --purple-800: hsl(277, 70%, 35%);
  --purple-900: hsl(267, 75%, 31%);
  --purple-a100: hsl(291, 95%, 75%);
  --purple-a200: hsl(291, 96%, 62%);
  --purple-a400: hsl(291, 100%, 49%);
  --purple-a700: hsl(280, 100%, 50%);
  --deep-purple-50: hsl(264, 45%, 94%);
  --deep-purple-100: hsl(261, 46%, 84%);
  --deep-purple-200: hsl(261, 46%, 74%);
  --deep-purple-300: hsl(262, 47%, 63%);
  --deep-purple-400: hsl(262, 47%, 55%);
  --deep-purple-500: hsl(262, 52%, 47%);
  --deep-purple-600: hsl(260, 54%, 45%);
  --deep-purple-700: hsl(258, 58%, 42%);
  --deep-purple-800: hsl(255, 61%, 39%);
  --deep-purple-900: hsl(251, 69%, 34%);
  --deep-purple-a100: hsl(262, 100%, 77%);
  --deep-purple-a200: hsl(256, 100%, 65%);
  --deep-purple-a400: hsl(259, 100%, 56%);
  --deep-purple-a700: hsl(265, 100%, 46%);
  --indigo-50: hsl(231, 44%, 94%);
  --indigo-100: hsl(232, 45%, 84%);
  --indigo-200: hsl(231, 44%, 74%);
  --indigo-300: hsl(230, 44%, 64%);
  --indigo-400: hsl(231, 44%, 56%);
  --indigo-500: hsl(231, 48%, 48%);
  --indigo-600: hsl(232, 50%, 45%);
  --indigo-700: hsl(232, 54%, 41%);
  --indigo-800: hsl(233, 57%, 37%);
  --indigo-900: hsl(235, 66%, 30%);
  --indigo-a100: hsl(231, 100%, 77%);
  --indigo-a200: hsl(231, 99%, 66%);
  --indigo-a400: hsl(231, 99%, 62%);
  --indigo-a700: hsl(231, 99%, 59%);
  --blue-50: hsl(205, 87%, 94%);
  --blue-100: hsl(207, 89%, 86%);
  --blue-200: hsl(207, 90%, 77%);
  --blue-300: hsl(207, 89%, 68%);
  --blue-400: hsl(207, 90%, 61%);
  --blue-500: hsl(207, 90%, 54%);
  --blue-600: hsl(208, 79%, 51%);
  --blue-700: hsl(210, 79%, 46%);
  --blue-800: hsl(212, 80%, 42%);
  --blue-900: hsl(216, 85%, 34%);
  --blue-a100: hsl(217, 100%, 75%);
  --blue-a200: hsl(218, 100%, 63%);
  --blue-a400: hsl(218, 100%, 58%);
  --blue-a700: hsl(224, 100%, 58%);
  --light-blue-50: hsl(199, 94%, 94%);
  --light-blue-100: hsl(199, 92%, 85%);
  --light-blue-200: hsl(199, 92%, 74%);
  --light-blue-300: hsl(199, 91%, 64%);
  --light-blue-400: hsl(199, 92%, 56%);
  --light-blue-500: hsl(199, 98%, 48%);
  --light-blue-600: hsl(200, 97%, 45%);
  --light-blue-700: hsl(201, 98%, 41%);
  --light-blue-800: hsl(202, 98%, 37%);
  --light-blue-900: hsl(206, 99%, 31%);
  --light-blue-a100: hsl(198, 100%, 75%);
  --light-blue-a200: hsl(199, 100%, 63%);
  --light-blue-a400: hsl(199, 100%, 50%);
  --light-blue-a700: hsl(203, 100%, 46%);
  --cyan-50: hsl(187, 72%, 93%);
  --cyan-100: hsl(187, 71%, 82%);
  --cyan-200: hsl(187, 72%, 71%);
  --cyan-300: hsl(187, 71%, 59%);
  --cyan-400: hsl(187, 71%, 50%);
  --cyan-500: hsl(187, 100%, 42%);
  --cyan-600: hsl(187, 100%, 38%);
  --cyan-700: hsl(186, 100%, 33%);
  --cyan-800: hsl(185, 100%, 28%);
  --cyan-900: hsl(182, 100%, 20%);
  --cyan-a100: hsl(180, 100%, 76%);
  --cyan-a200: hsl(180, 100%, 55%);
  --cyan-a400: hsl(186, 100%, 50%);
  --cyan-a700: hsl(188, 100%, 42%);
  --teal-50: hsl(177, 41%, 91%);
  --teal-100: hsl(175, 41%, 79%);
  --teal-200: hsl(174, 42%, 65%);
  --teal-300: hsl(174, 42%, 51%);
  --teal-400: hsl(174, 63%, 40%);
  --teal-500: hsl(174, 100%, 29%);
  --teal-600: hsl(174, 100%, 27%);
  --teal-700: hsl(173, 100%, 24%);
  --teal-800: hsl(173, 100%, 21%);
  --teal-900: hsl(170, 100%, 15%);
  --teal-a100: hsl(166, 100%, 83%);
  --teal-a200: hsl(166, 100%, 70%);
  --teal-a400: hsl(165, 82%, 51%);
  --teal-a700: hsl(172, 100%, 37%);
  --green-50: hsl(125, 39%, 94%);
  --green-100: hsl(122, 38%, 84%);
  --green-200: hsl(122, 37%, 74%);
  --green-300: hsl(123, 38%, 64%);
  --green-400: hsl(123, 38%, 57%);
  --green-500: hsl(122, 39%, 49%);
  --green-600: hsl(123, 41%, 45%);
  --green-700: hsl(123, 43%, 39%);
  --green-800: hsl(123, 46%, 34%);
  --green-900: hsl(124, 55%, 24%);
  --green-a100: hsl(137, 77%, 85%);
  --green-a200: hsl(151, 82%, 68%);
  --green-a400: hsl(151, 100%, 45%);
  --green-a700: hsl(145, 100%, 39%);
  --light-green-50: hsl(88, 52%, 94%);
  --light-green-100: hsl(88, 51%, 86%);
  --light-green-200: hsl(88, 50%, 76%);
  --light-green-300: hsl(88, 50%, 67%);
  --light-green-400: hsl(88, 50%, 60%);
  --light-green-500: hsl(88, 50%, 53%);
  --light-green-600: hsl(89, 46%, 48%);
  --light-green-700: hsl(92, 48%, 42%);
  --light-green-800: hsl(95, 49%, 36%);
  --light-green-900: hsl(103, 56%, 26%);
  --light-green-a100: hsl(88, 100%, 78%);
  --light-green-a200: hsl(88, 100%, 67%);
  --light-green-a400: hsl(93, 100%, 51%);
  --light-green-a700: hsl(97, 81%, 48%);
  --lime-50: hsl(66, 71%, 95%);
  --lime-100: hsl(65, 69%, 86%);
  --lime-200: hsl(66, 71%, 77%);
  --lime-300: hsl(66, 70%, 68%);
  --lime-400: hsl(66, 70%, 61%);
  --lime-500: hsl(66, 70%, 54%);
  --lime-600: hsl(64, 60%, 50%);
  --lime-700: hsl(62, 61%, 44%);
  --lime-800: hsl(60, 63%, 38%);
  --lime-900: hsl(54, 70%, 30%);
  --lime-a100: hsl(65, 100%, 75%);
  --lime-a200: hsl(65, 100%, 63%);
  --lime-a400: hsl(73, 100%, 50%);
  --lime-a700: hsl(75, 100%, 46%);
  --yellow-50: hsl(55, 100%, 95%);
  --yellow-100: hsl(54, 100%, 88%);
  --yellow-200: hsl(54, 100%, 81%);
  --yellow-300: hsl(54, 100%, 73%);
  --yellow-400: hsl(54, 100%, 67%);
  --yellow-500: hsl(54, 100%, 62%);
  --yellow-600: hsl(49, 98%, 60%);
  --yellow-700: hsl(43, 96%, 58%);
  --yellow-800: hsl(37, 95%, 56%);
  --yellow-900: hsl(28, 92%, 53%);
  --yellow-a100: hsl(60, 100%, 78%);
  --yellow-a200: hsl(60, 100%, 50%);
  --yellow-a400: hsl(55, 100%, 50%);
  --yellow-a700: hsl(50, 100%, 50%);
  --amber-50: hsl(46, 100%, 94%);
  --amber-100: hsl(45, 100%, 85%);
  --amber-200: hsl(45, 100%, 75%);
  --amber-300: hsl(46, 100%, 65%);
  --amber-400: hsl(45, 100%, 58%);
  --amber-500: hsl(45, 100%, 51%);
  --amber-600: hsl(42, 100%, 50%);
  --amber-700: hsl(38, 100%, 50%);
  --amber-800: hsl(34, 100%, 50%);
  --amber-900: hsl(26, 100%, 50%);
  --amber-a100: hsl(48, 100%, 75%);
  --amber-a200: hsl(47, 100%, 63%);
  --amber-a400: hsl(46, 100%, 50%);
  --amber-a700: hsl(40, 100%, 50%);
  --orange-50: hsl(37, 100%, 94%);
  --orange-100: hsl(36, 100%, 85%);
  --orange-200: hsl(36, 100%, 75%);
  --orange-300: hsl(36, 100%, 65%);
  --orange-400: hsl(36, 100%, 57%);
  --orange-500: hsl(36, 100%, 50%);
  --orange-600: hsl(33, 100%, 49%);
  --orange-700: hsl(30, 100%, 48%);
  --orange-800: hsl(27, 100%, 47%);
  --orange-900: hsl(21, 100%, 45%);
  --orange-a100: hsl(38, 100%, 75%);
  --orange-a200: hsl(34, 100%, 63%);
  --orange-a400: hsl(34, 100%, 50%);
  --orange-a700: hsl(26, 100%, 50%);
  --deep-orange-50: hsl(6, 71%, 95%);
  --deep-orange-100: hsl(14, 100%, 87%);
  --deep-orange-200: hsl(14, 100%, 78%);
  --deep-orange-300: hsl(14, 100%, 70%);
  --deep-orange-400: hsl(14, 100%, 63%);
  --deep-orange-500: hsl(14, 100%, 57%);
  --deep-orange-600: hsl(14, 91%, 54%);
  --deep-orange-700: hsl(14, 80%, 50%);
  --deep-orange-800: hsl(14, 82%, 46%);
  --deep-orange-900: hsl(14, 88%, 40%);
  --deep-orange-a100: hsl(14, 100%, 75%);
  --deep-orange-a200: hsl(14, 100%, 63%);
  --deep-orange-a400: hsl(14, 100%, 50%);
  --deep-orange-a700: hsl(12, 100%, 43%);
  --brown-50: hsl(20, 16%, 93%);
  --brown-100: hsl(16, 16%, 81%);
  --brown-200: hsl(15, 15%, 69%);
  --brown-300: hsl(16, 15%, 56%);
  --brown-400: hsl(16, 18%, 47%);
  --brown-500: hsl(16, 25%, 38%);
  --brown-600: hsl(15, 25%, 34%);
  --brown-700: hsl(14, 26%, 29%);
  --brown-800: hsl(11, 26%, 24%);
  --brown-900: hsl(9, 28%, 19%);
  --grey-50: hsl(0, 0%, 98%);
  --grey-100: hsl(0, 0%, 96%);
  --grey-200: hsl(0, 0%, 93%);
  --grey-300: hsl(0, 0%, 88%);
  --grey-400: hsl(0, 0%, 74%);
  --grey-500: hsl(0, 0%, 62%);
  --grey-600: hsl(0, 0%, 46%);
  --grey-700: hsl(0, 0%, 38%);
  --grey-800: hsl(0, 0%, 26%);
  --grey-900: hsl(0, 0%, 13%);
  --blue-grey-50: hsl(204, 15%, 94%);
  --blue-grey-100: hsl(198, 16%, 84%);
  --blue-grey-200: hsl(200, 15%, 73%);
  --blue-grey-300: hsl(200, 16%, 62%);
  --blue-grey-400: hsl(200, 15%, 54%);
  --blue-grey-500: hsl(200, 18%, 46%);
  --blue-grey-600: hsl(199, 18%, 40%);
  --blue-grey-700: hsl(199, 18%, 33%);
  --blue-grey-800: hsl(200, 18%, 26%);
  --blue-grey-900: hsl(200, 19%, 18%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
