/**
 * Tooltip
 *
 * @format
 */

@import '@@/import.css';

$tooltip-padding-x: 1em !default;
$tooltip-padding-y: 0.5em !default;
$tooltip-color: $light1 !default;
$tooltip-background-color: $dark5 !default;
$tooltip-animate-speed-in: $animate-speed-in !default;
$tooltip-placement: translate(5px, -50%) !default;

.tooltip {
  position: absolute;
  padding: $tooltip-padding-y $tooltip-padding-x;
  color: $tooltip-color;
  background: $tooltip-background-color;
  border-radius: $radius;
  transition: opacity $tooltip-animate-speed-in;
  transform: $tooltip-placement;
  pointer-events: none;
}
