/**
 * CUSTOM BUTTON MAKER.
 *
 * @format
 */

/* FIXME: Move documentation into docs + add link here */

/* TODO: Make this better, more flexible and/or dynamic */

@mixin button(
  $btn-bg-color,
  $btn-bg-color-hover,
  $btn-bg-color-active,
  $btn-shadow-color: $shadow-color,
  $btn-animate-speed-in: $animate-speed-in,
  $btn-animate-speed-out: $animate-speed-out
) {
  color: $white;
  background-color: $btn-bg-color;
  /* prettier-ignore */
  box-shadow:
    0 2px 8px 0 color-mod($btn-shadow-color alpha(0.55)),
    inset 0 -16px 10px 0 rgba(0, 0, 0, 0.05);
  /* stylelint-disable plugin/no-low-performance-animation-properties */
  transition: background-color $btn-animate-speed-in linear;
  /* stylelint-enable */

  &:hover,
  &:focus {
    background-color: $btn-bg-color-hover;
    transition-duration: $btn-animate-speed-out;
  }

  &:active {
    background-color: $btn-bg-color-active;
  }
}
