@import "import.css";

$select-optimize: false;
$select-zindex: 4;
$select-background-color: $white;
$select-shadow: $shadow-hover;
$select-selected-text-color: $white;
$select-selected-background-color: $link-color;
$select-caret-color: $input-text-color;
$select-caret-size: 0.3em;
$select-animate-speed: 150ms;
$select-disabled-text-color: $input-disabled-text-color;
$select-disabled-caret-color: $input-disabled-text-color;
