@import "import.css";
@import "./_variables.css";
@import "./_layout.css";
@import "./_coverpage.css";

/* Buttons */

/* TODO: Remove .card-button if not used */
.button,
.card-button {
  font-weight: $text-weight-heavy;
  text-transform: uppercase;
}

.button-cta {
  color: $white;
  background-color: $intent-primary;
  box-shadow:
    0 2px 8px 0 color-mod($blue2 alpha(0.55)),
    inset 0 -16px 10px 0 color-mod($blue2 alpha(0.1));

  &:hover,
  &:focus {
    background-color: $blue2;
  }

  &:active {
    background-color: $blue1;
  }
}
