body {
  margin: $margin;
}

/* stylelint-disable selector-max-id */
#target {
  color: $color;

  .focus,
  &:focus {
    background: rgb(0, 0, 0);
  }

  .wrapper + & {
    background: rgb(33, 33, 33);
  }
}
/* stylelint-enable selector-max-id */
