<!--
  COLLAPSE COMPONENT

  TODO: Write basic info.

  USAGE:
    Example:

      <MinnaCollapse>
        <p>Your content.</p>
      </MinnaCollapse>
-->

<button class="button button-collapse" on:click="set({ isOpen: !isOpen })">
  {isOpen ? textClose : textOpen}
</button>

<div class="collapse {isOpen ? '' : 'collapse-hide'}"><slot></slot></div>

<script>
  export default {
    data: () => ({
      isOpen: false,

      /* optional props */
      textOpen: 'Expand ▾',
      textClose: 'Collapse ▴',
    }),
  };
</script>

<style>
  .collapse-hide {
    display: none;
  }
</style>
