<!--
  INPUT SWITCH COMPONENT

  This component is intended to be an alternative to checkbox inputs in forms
  when there's a need to toggle something with an on and off state. From a UX
  perspective, it should be clearly understood that something is being turned on
  or off.

  An example of this is a switch to turn on or off sound in an interactive web
  app. On the other hand, you should use a checkbox when users are accustomed to
  seeing a checkbox such as an input to accept terms and conditions in a
  transaction flow. That said, most of the time this is a great option.

  USAGE:
    Simply import this component into your vue file and use it in your template
    as if it was a normal input; bind it to a vue model. Example:

      <MinnaSwitch bind:value="switch"/>

    The default switch is the same size as buttons. If this is too big, you can
    add a "mini" property for a compact version. Example:

      <MinnaSwitch bind:value="switch" mini/>

    It's possible to change the text from "ON"/"OFF" by passing the props textOn
    and textOff. If you change this you may need to modify the width too, which
    can be done via the --switch-width CSS variable. Example:

      <MinnaSwitch bind:value="switch" textOn="YES" textOff="NO"/>

  TIPS:
    - It's a good idea to add a title attribute so desktop users can understand
      the elements purpose more clearly.
    - If following accessibility guidelines it's recommended to label the
      purpose of the switch by adding an `aria-label` or `aria-labelledby`
      attribute.
    - If used in a form this component won't send any data by default. If you
      wish to use it as a form input you'll need to bind the v-model to a
      hidden input.
    - The `disabled` attribute is not valid on <div> so we use a class.

  NOTE:
    In the code, object properties starting with _ are safe to mangle; the name
    can be shortened at build time for smaller JavaScript bundles.

-->

<!-- TODO: Ability to drag the switch using mouse/touch in a high performance way. -->

<div
  class="switch {mini ? 'switch-mini' : ''} {disabled !== undefined ? 'switch-disabled' : ''} {value ? 'switch-checked' : ''}"
  role="switch"
  tabindex="{disabled === undefined ? 0 : -1}"
  aria-checked="{value}"
  on:click="_toggle()"
  on:keydown="_onKeyDown(event)"
>
  <div class="switch-slider"/>
  <div class="switch-on">{textOn}</div>
  <div class="switch-off">{textOff}</div>
</div>

<script>
  export default {
    tag: 'minna-switch',
    data: () => ({
      /* required bind prop */
      // value: true,

      /* optional props */
      textOn: 'ON',
      textOff: 'OFF',
      mini: false,

      /* optional native props */
      disabled: undefined,
      // required: false, // FIXME: Add custom validation
    }),
    methods: {
      _toggle() {
        if (this.get().disabled === undefined) {
          this.set({ value: !this.get().value });
        }
      },
      _onKeyDown(event) {
        // choose key with graceful fallback for old browsers
        switch (event.key || event.keyCode) {
          case 'Enter':
          case 13: // enter
          case ' ':
          case 'Spacebar':
          case 32:
            event.preventDefault(); // don't submit form (enter) or scroll page (space)
            this._toggle();
            break;
          default:
          // no matching key
        }
      },
    },
  };
</script>

<style type="text/postcss">
  @import "./_variables.css";
  @import "import.css";

  /* the switch purposely looks like .button and uses many of the button variables */
  .switch {
    position: relative;
    display: inline-flex;
    width: var(--switch-width);
    padding: var(--switch-padding);
    line-height: 1;
    color: var(--switch-off-text-color);
    text-align: center;
    cursor: pointer;
    background-color: var(--switch-off-background-color);
    border-radius: var(--button-radius);
    box-shadow:
      var(--switch-inner-shadow),
      var(--switch-shadow);
    transition: background-color var(--switch-animate-out-speed) ease-out;
    transition-delay: 0s;
    backface-visibility: hidden; /* promote into its own layer to avoid repaints */

    @if var(--switch-optimize) {
      will-change: background-color;
    }

    &.switch-mini {
      width: var(--switch-mini-width);
      padding: var(--switch-mini-padding);
    }

    &:hover {
      outline: var(--input-hover-outline);
    }

    &:focus {
      outline: var(--input-focus-outline);
    }
  }

  .switch-checked {
    background-color: var(--switch-on-background-color);
    transition: background-color var(--switch-animate-in-speed) ease-in;
    transition-delay: var(--switch-animate-out-speed);
  }

  .switch-on,
  .switch-off {
    flex-basis: calc(var(--switch-width) / 2);
  }

  .switch-on {
    color: var(--switch-on-text-color);

    .switch-disabled > & {
      color: var(--switch-disabled-text-color);
    }
  }

  .switch-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: var(--button-background-color);
    border-radius: var(--button-radius);
    box-shadow: var(--switch-slider-inner-shadow);
    transition: transform var(--switch-animate-in-speed) ease-out;

    @if var(--switch-optimize) {
      will-change: transform;
    }

    .switch-checked > & {
      /* FIXME: In chrome/webkit you can see part of .switch-mini outside the slider */
      transform: translateX(100%);
    }

    .switch-mini > & {
      box-shadow: var(--switch-mini-slider-inner-shadow);
    }

    .switch:hover > &,
    .switch:focus > & {
      background: var(--switch-hover-slider-background-color);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .switch-disabled > & {
      box-shadow: none; /* inner shadow */
      transition: none;

      @if var(--switch-optimize) {
        will-change: auto;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .switch-disabled > &,
    .switch-disabled:hover > &,
    .switch-disabled:focus > & {
      background: var(--switch-disabled-slider-background-color);
    }
  }

  .switch-disabled {
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
    background-color: var(--button-background-color);
    border: var(--switch-disabled-border);
    box-shadow: none; /* inner shadow */
    transition: none;

    @if var(--switch-optimize) {
      will-change: auto;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }
</style>
